<%= form_for(@shopping_trip) do |f| %>
  <% if @shopping_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_trip.errors.count, "error") %> prohibited this shopping_trip from being saved:</h2>

      <ul>
      <% @shopping_trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="float:left; padding-left: 10px">
    <h2>Food Items</h2>
    <% f.fields_for :food_items do |builder| %>
        <%= render 'food_item_fields', :f => builder %>
    <% end %>

    <p><%= link_to_add_fields "Add Item", f, :food_items %></p>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
