<p id="notice"><%= notice %></p>

<p>
  <b>Integer:</b>
  <%= @food_item.integer %>
</p>

<p>
  <b>Integer:</b>
  <%= @food_item.integer %>
</p>


<%= link_to 'Edit', edit_food_item_path(@food_item) %> |
<%= link_to 'Back', food_items_path %>
