<!DOCTYPE html>
<html>
<head>
  <title>Bloobelly</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div data-role = "page" data-theme = "b">
<div data-role = "header" data-theme = "b">  
<h2>
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log out", logout_path %>
<% else %>
  <%= link_to "Sign up", signup_path %> or
  <%= link_to "log in", login_path %>.
<% end %>
</h2>
</div>
<%= yield %>
<div data-role = "footer" data-theme = "b" data-position="fixed">
<div data-role="navbar"><ul>
			<li><%= link_to "Go Shopping", '#' , "data-icon"=>"plus"%></li>
			<li><%= link_to "Back", :back , "data-icon"=>"back"%></li>
			<li><%= link_to "Home", root_path , "data-icon"=>"home"%></li>
			<li><%= link_to "About Us", '#' , "data-icon"=>"info"%></li>
</ul></div>
        </div>
</div>
</body>
</html>
